@{
    ViewBag.Title = "Home Page";
}
<div ng-app="myapp" ng-controller="task">
    <h1>Host:1111</h1>
    <div class="panel  panel-default">
        <div class="panel-heading">
            <form class="form-inline ">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="命令">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="密码">
                </div>

                <button type="submit" class="btn btn-default">执行</button>
            </form>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最近执行</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">待执行</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
    <br />

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="item in historys">

                </a>
                <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading </h3>
                    <p>>60% Complomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplomplete<</p>
                </a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    Cras justo odio
                </a>

                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>